{% extends 'core/base.html' %}

{% block title %}Connexion - EduPlateforme{% endblock %}

{% block content %}
 
    <main class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-5"> <!-- Réduction de la largeur à 5 colonnes -->
                <!-- Card Form -->
                <div class="card shadow">
                    <div class="card-header bg-primary text-white text-center">
                        <h2 class="h5">Se connecter</h2>
                    </div>
                    <div class="card-body p-4">
                        <form method="POST">
                            {% csrf_token %}
                            <!-- Champ Nom d'utilisateur -->
                            <div class="mb-3">
                                <label for="username" class="form-label">Nom d'utilisateur</label>
                                <input type="text" name="username" id="username" class="form-control" value="{{ form.username.value }}">
                                {% if form.username.errors %}
                                    <div class="text-danger">
                                        {% for error in form.username.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <!-- Champ Mot de passe -->
                            <div class="mb-3">
                                <label for="password" class="form-label">Mot de passe</label>
                                <input type="password" name="password" id="password" class="form-control">
                                {% if form.password.errors %}
                                    <div class="text-danger">
                                        {% for error in form.password.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <!-- Bouton Soumettre -->
                            <button type="submit" class="btn btn-primary w-100">Se connecter</button>
                        </form>
                        <p class="mt-3 text-center">
                            Vous n'avez pas de compte ? <a href="{% url 'signup' %}">Créez-en un</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
